<html>
    <head>
        <style>
            Form {
                padding: 15px;

            }
        </style>
    </head>
    <body>
        <form id="Form">
            Username: <input type="text" name="username" placeholder="Insira Username" />
            <br/>            <br/>            <br/>
            Senha: <input type="password" name="password" placeholder="Insira Senha" />
            <br/>            <br/>            <br/>
            <input type="submit" name="button" />
        </form>
    </body>

</html>